{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-5">

        <div class="row">
            <div class="col-lg-4 offset-lg-4 text-center">
                <img src="/images/mail.png" style="max-height: 100px;">
                <h2>Mon adresse e-mail: nduplaix62@gmail.com</h2>
            </div>
        </div>
        <form method="post" action="/mail.php" class="mt-5">
            <fieldset>
                <label for="email" class="col-lg-3 offset-lg-2">Votre adresse E-Mail</label>
                <input type="email" class="form-control col-lg-8 offset-lg-2" name="email" placeholder="email@example.com">

                <label for="name" class="col-lg-3 offset-lg-2">Votre nom</label>
                <input type="text" class="form-control col-lg-8 offset-lg-2" name="name" placeholder="Nom">

                <label for="subject" class="col-lg-3 offset-lg-2">Le sujet</label>
                <input type="text" class="form-control col-lg-8 offset-lg-2" name="subject" placeholder="Sujet">

                <label for="message" class="col-lg-3 offset-lg-2">Votre message</label>
                <textarea class="form-control col-lg-8 offset-lg-2" name="message"></textarea>
            </fieldset>
            <button type="submit" class="btn btn-primary mt-3 offset-lg-2">Envoyer</button>
        </form>
    </div>


{% endblock %}