{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/style.css"/>
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-5" id="cursus">Lycée</h3>
        <div class="row mt-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet ISN</div>
                    <img class="card-img-top" src="/images/projets/lycee.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Jeu de tir sur cible</h4>

                        <p class="card-text text-justify">Durée : <strong>2 mois</strong> ,
                            Effectif du groupe : <strong>2 personnes</strong> <br>Nous devions faire un jeu de tir sur cible
                            en JavaScript, HTML, CSS.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center mt-5" id="cursus">Universitée</h3>
        <div class="row mt-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet premier semestre JavaScript</div>
                    <img class="card-img-top" src="/images/projets/fac.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Mini boutique</h4>

                        <p class="card-text text-justify">Durée : <strong>1 mois</strong> ,
                            Effectif du groupe : <strong>2 personnes</strong> <br>Nous devions faire une boutique
                            en JavaScript, HTML, CSS.
                        </p>
                        <a class="btn btn-primary" href="https://gitlab.com/NicolasDuplaix/mini-boutique">Voir le code</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center mt-5" id="cursus">DUT</h3>
        <div class="row mt-5">
            <div class="col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet premier semestre HTML</div>
                    <img class="card-img-top" src="/images/projets/cdin.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Site web de présentation des voyages</h4>

                        <p class="card-text text-justify">Durée : <strong>2 mois</strong> ,
                            Effectif du groupe : <strong>3 personnes</strong> <br>Nous devions faire un site qui présente les
                            différents voyages (stages et semestres) à l'étranger proposés par l'iut HTML, CSS.
                        </p>
                        <a class="btn btn-primary" href="https://gitlab.com/NicolasDuplaix/site-cdin">Voir le code</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet premier semestre Python</div>
                    <img class="card-img-top" src="/images/projets/bataille.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Jeu de bataille navale</h4>

                        <p class="card-text text-justify mb-5">Durée : <strong>1 semaine</strong> ,
                            Effectif du groupe : <strong>1 personnes</strong> <br>Nous devions faire un jeu de bataille navale
                            en python3.
                        </p>
                        <a class="btn btn-primary" href="https://gitlab.com/NicolasDuplaix/bataille-naval">Voir le code</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet deuxieme semestre Python</div>
                    <img class="card-img-top" src="/images/projets/2048.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Jeu du 2048</h4>

                        <p class="card-text text-justify mb-5">Durée : <strong>2 semaines</strong> ,
                            Effectif du groupe : <strong>2 personnes</strong> <br>Nous devions créer une variante du jeu 2048 en python.
                            Nous avons utilisé PyQt5 pour faire ce jeu.
                        </p>
                        <a class="btn btn-primary" href="https://gitlab.com/NicolasDuplaix/2048">Voir le code</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Projet troisième semestre PHP</div>
                    <img class="card-img-top" src="/images/projets/marathon.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Site d'histoires intéractives</h4>

                        <p class="card-text text-justify">Durée : <strong>34 heures</strong> ,
                            Effectif du groupe : <strong>8 personnes</strong> <br>Nous devions faire un site qui permet de
                            lire et créer des histoires intéractives en php avec le framework laravel.
                        </p>
                        <a class="btn btn-primary" href="https://gitlab.com/NicolasDuplaix/projet-marathon">Voir le code</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center mt-5" id="cursus">Personnel</h3>
        <div class="row mt-5">
            <div class="col-lg-6 offset-lg-3">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-header text-center">Ce Portfolio</div>
                    <img class="card-img-top" src="/images/projets/portfolio.png" alt="Card image cap" style="max-height: 250px;">
                    <div class="card-body">
                        <h4 class="card-title">Portfolio</h4>

                        <p class="card-text text-justify">Durée : <strong>10h</strong> ,
                            Effectif du groupe : <strong>seul</strong> <br>J'ai voulu créer ce portfolio pour me présenter brievement sur le web.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}